body {
  background:white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: black;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.wrappper{  
  width:100%;
  margin:0 auto;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
   margin:5px 0;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

p{
  font-size: 20px;
}

#alphabet {
  margin:15px auto;
  padding:0;
  max-width:450px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:white;
  cursor:pointer;
  border: solid 1px green;
  text-transform: uppercase;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

.active {
 
  cursor:default;
    
 
}

#mylives{
  font-size:20px;
  text-align:center;
  display:block;
}

button{  
  color:green;
  border: solid 1px blue;
  text-decoration:none;
  cursor:pointer;
  font-size:15px;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;  
}

